@define-color bg #0F0F1A;
@define-color fg #EDF2F4;
@define-color gray1 #0F0F1A;
@define-color gray2 #EDF2F4;
@define-color gray3 #E5383B;
@define-color gray4 #E76F8B;
@define-color gray5 #EDF2F4;
@define-color fg_bright #FFFFFF;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: alpha(@gray3, 0.3);
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: alpha(@gray3, 0.3);
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}
